.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.menu-link {
	padding-right: 30px !important;
}
.scrollable-div {
	max-height: 300px;
	overflow-y: auto; 
}
.field-info {
	font-size: 10px;
}